
<div class="span12">
	<h1>Kitchens</h1>
	
	<div class="createkitchendiv">
		<%= link_to "Create new kitchen", new_kitchen_path, :id => "createkitchenlink" %>

	
			<%= form_tag "/kitchens/create", :method => :post, :remote => true do %>

			<div class="blahblah">
			<%= render :partial => "box" %>

			</div>
			<%= submit_tag "Submit" %>

		<% end %>
		</div>


<div class="kitchenholder offset1">
<%= render :partial => 'kitchen', :collection => @kitchens, :as => :kitchen %>
</div>

</div>